{{#if logged_in}}
<div class="container">
  {{#if routines.length}}
  <div class="row">
    <h2>Dashboard Users Exercises</h2>
 </div>
                  <div class="row flex-row flex-nowrap" id ="five-day-container">
                         {{#each routines as |routine|}}
                            <div class="col-4">
                                <div class="card card-block" id ="fiveDay2">         
                                   <ul class="list-group list-group-flush"></ul>
                                   <div class="card-body">
                                    <h5 class="card-title">{{user.name}}'s Exercises</h5>     
                                    <h5 class="card-subtitle">{{routine.title}}</h5>
                                    <h7 class="text-success" >Days to do this exercise</h7>
                                    <p class="card-text">{{routine.weekdays}}</p>
                                    <a href="/exercise/{{routine.exercise_id}}" class="card-link">View Details</a>                         
                                 </div>
                                 </ul>
                                 <div class="card-body">
                                </div>             
                              </div>            
                            </div>
                              {{/each}}
                            </div>
     </div>
     
      </body>
      </html>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
      <script src="./js/results.js"></script>
     
      {{/if}}
      {{else}}
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
            <img class="h-5000 d-inline-block" style="width: 160px" src="https://lh3.googleusercontent.com/proxy/5oTfDV_CA6bj_2XPAe4FM-3FHfF-x09IbWVJ_gN35pxviYOSyyuZpplJPIeRd3l7ybPI3XunSlY5t-HJSMhGnIdxwI6jgVYZViOf_IeVkhOLJPSpLMbm-t7fNAoFS8H3xrdW91BCXthw4BrKYw">
      </div> 
        <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
          <h2>Sign up for ExerSHARE</h2>
          <form class="form signup-form" class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
              <label for="name-signup">Name:</label>
              <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group">
              <label for="email-signup">Email:</label>
              <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
              <label for="password-signup">Password:</label>
              <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Sign Up!</button>
            </div>
          </form>
        </div>
        
      <script src="./js/signup.js"></script>
{{/if}}